@model IEnumerable<KudakwasheStudyGroupPrac2.Models.StudyGroupModel>
@{
    ViewBag.Title = "StudyGroup";
}

<h2>List of People</h2>
<br />
<div>@Html.ActionLink("Create New", "Create", new { @class = "btn btn-info btn-md" })</div>
<br />
<form id="searchform">
    <label for="search">Search String:</label><br />
    <input type="search" id="search" onkeyup="myFunction()"/>
    <input type="submit" value="Search" id="submit">
</form>
<br />
<table class="table" id="mtable">
    <tr style=" background-color:green">
        <th>@Html.DisplayNameFor(model => model.StudentNo)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Surname)</th>
        <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="row">
            <td>@Html.DisplayFor(modelItem => item.StudentNo)</td>
            <td id="name">@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Surname)</td>
            <td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>
            <td><input type="button" style="background-color: green" onclick="deleteRow(this)" value="Delete"></td>
        </tr>

    }
</table>
<button onclick="saveTable()">Save to local storage</button> <button onclick="Retrievedata()">Retrieve from local storage</button> <button onclick="Clear()">Clear local storage</button>
<style type="text/css">
    table th {
        border: 1px solid;
    }

    table tr {
        border: 1px solid;
    }

    table td {
        border: 1px solid;
        text-align: center;
    }
</style>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/PeopleScript.js")">

    </script>

}

